ISLA_VOICE_PROJECT_DIR=ISLA/local_voice
ISLA_VOICE_MODEL_DIR=ISLA/local_voice/my_waifu_model
ISLA_VOICE_DATASET_DIR=ISLA/local_voice/dataset
ISLA_VOICE_ENV_DIR=.venv
ISLA_VOICE_WAV_DIR=ISLA/local_voice/wavs
ISLA_VOICE_TTS_COMMAND=tts
ISLA_VOICE_TTS_MODEL_NAME=tts_models/multilingual/multi-dataset/xtts_v2
ISLA_VOICE_INPUT_PROMPT=You: 